body{
    display: block; 
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #18232D;
    color: #D5D4D8;
}
.random-pass-text{
    color: red;
}
.password-generator-words{
    margin-left: 125px;
    width: 500px;
    font-weight: bolder;
    margin-bottom: 30px;
}
p{
    font-weight: normal ;
}

.password-actions{
    width: 250px;
    padding-left: 125px;
    padding-top: 20px;
    margin-bottom: 25px;
}

button{
    border: none;
    background-color: red;
    color: #ffff;
    margin-bottom: 70px;
    padding: 9px;
    border-radius: 4px;
}
.display-passwords{
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #132674;
    padding-top: 25px;
    height: 100px;
}

.display-pass-one, .display-pass-two{
    width: 140px;
    display: flex;
    justify-content: center;
    height: 30px;
    padding-top: 8px;
    background-color: #242E40;
    border-radius: 5px;
    color: #61AC8F;
}

button:hover{
    cursor: pointer;
    background-color: red;
    font-weight: bolder;
    border: 2px solid black ;
}

